{% extends "index.html" %}

{% block title %}
    AboutUs
{% endblock %}

{% block main %}
<div class="aboutt">
    <div class="aboutt1">
        <div class="text-content">
           <h6>/   About Us</h6>
          <h1>About Us</h1>
             <p>At JakoB, we believe in the power of hard work and dedication. 
            Our brand is built on the foundation of the relentless pursuit of excellence. 
            We understand the struggles and challenges that come with building something from the ground up, and we have experienced it firsthand.
             </p>
        </div>
        <div>
             <img id="aboutus1" src="/static/aboutus1.png" alt="picture">
        </div>
    </div>
    <div class="aboutt2">
        <div>
          <h1>Profile</h1>
             <p>JakoB is a clothing brand that was founded with a vision to redefine fashion.
                 Established by Selhab Ahmed Yakoub, who brings years of experience from renowned fashion houses such as Zara, Louis Vuitton, and Adidas, our brand is a reflection of the expertise and knowledge gained from working in these prestigious companies.
                  With a deep understanding of the industry and a passion for creating exceptional clothing, we have channeled our collective experience to build JakoB as a brand that embodies style, craftsmanship, and innovation.
             </p>
        </div>
        <div >
            <img id="aboutus2" src="/static/aboutus2.png" alt="picture">
       </div>
    </div>
    <div class="aboutt3">
        <div >
            <img id="aboutus3" src="/static/aboutus3.png" alt="picture">
       </div>
        <div>
          <h1>Owr Mission</h1>
             <p>Our mission at JakoB is to empower individuals to express their unique style and confidence through our carefully curated collection.
                 We believe that clothing is not just about fashion, but a means of self-expression.
                  We are dedicated to creating garments that inspire and empower our customers to embrace their individuality and make a statement.
             </p>
        </div>
    </div>
</div>    
{% endblock %}